.user-books__container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.user-books__message-empty{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    border: 1px solid var(--color-gray-light);
    border-radius: var(--border-rad-l);
    width: 100%;
    padding: 2rem 0;
    box-shadow: var(--box-shadow);
    gap: 0.5rem;
}
.user-books__message__icon{
    width: 4rem;
    height: 4rem;
    color: var(--color-gray);
}
.user-books__message__sub-title{
    font-size: var(--font-sz-l);
    font-family: var(--font-fm-serif);
    color: var(--color-gray);
}
.user-books__message__span{
    font-size: var(--font-sz-l);
    color: var(--color-gray-light);
}

@media (max-width: 480px) {
    .user-books__message-empty{
        padding: 1rem;
        text-align: center;
    }
    .user-books__message__icon{
        width: 3rem;
        height: 3rem;
    }
}