.user-item {
    display: flex;
    gap: 2rem;
    width: 80%;
    border: 1px solid var(--color-gray-light);
    border-radius: var(--border-rad);
    padding: 1rem;
    text-decoration: none;
    box-shadow: var(--box-shadow);
    transition: transform 0.4s ease;
}

.user-item:hover {
    transform: scale(1.02);
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.25);
}

.user-item__image {
    max-width: 2.5rem;
    min-width: 2.5rem;
    max-height: 2.5rem;
    min-height: 2.5rem;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}

.user-item__text {
    display: flex;
    flex-direction: column;
}

.user-item__name {
    color: var(--color-dark);
    font-weight: 500;
    font-size: var(--font-sz-l);
}

.user-item__email {
    color: var(--color-gray-dark);
    font-size: var(--font-sz-s);
}

@media (max-width: 768px) {
    .user-item {
        width: 90%;
        overflow: hidden;
    }
}

@media (max-width: 480px) {
    .user-item {
        flex-direction: column;
        align-items: center;
        gap: 0.2rem;
    }

    .user-item__text {
        align-items: center;
    }

    .user-item__name {
        font-size: var(--font-sz-xm);
    }
}