.header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid var(--color-gray-light);
    padding: 1rem;
    position: fixed;
    width: 100%;
    background-color: var(--color-light);
    z-index: 1000;
}

.header__button {
    cursor: pointer;
    background-color: var(--color-light);
    border: none;
    max-width: 3rem;
    min-width: 3rem;
    max-height: 3rem;
    min-height: 3rem;
    scale: 1.4;
    color: var(--color-gray);
}

.header__title {
    font-size: var(--font-sz-3xl);
    color: var(--color-primary);
    font-family: var(--font-fm-serif);
}