.review {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1.5rem;
    gap: 1rem;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--color-gray-light);
    border-radius: var(--border-rad-l);
    transition: box-shadow 0.5s ease;
    position: relative;
}

.review:hover {
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
}

.review__header {
    display: flex;
    justify-content: space-between;
}

.review__user__container {
    display: flex;
    gap: 1rem;
}

.review__user__image {
    display: flex;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.review__user__text {
    display: flex;
    flex-direction: column;
}

.review__user__name {
    font-weight: 500;
    font-size: var(--font-sz-xl);
}

.reviews__created_at {
    font-size: var(--font-sz-xm);
    color: var(--color-gray);
}

.review__buttons-container {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    gap: 0.3rem;
    align-self: end;
}

.review__button {
    cursor: pointer;
    background: none;
    border: 1px solid var(--color-gray-light);
    border-radius: var(--border-rad);
    padding: 0.5rem 0.8rem;
    color: var(--color-dark);
    box-shadow: var(--box-shadow);
    z-index: 10;
    background-color: var(--color-light);
}

.review__button__icon {    
    font-size: var(--font-sz-xl);
}

.review__modal-content {
    border-radius: var(--border-rad);
    padding: 1rem;
    z-index: 10;
    background-color: var(--color-light);
    border: 1px solid var(--color-gray-light);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.review__modal__title {
    color: var(--color-gray-dark);
    font-family: var(--font-fm-serif);
    font-size: var(--font-sz-l);
}

.review__modal__text {
    color: var(--color-gray-dark);
    font-size: var(--font-sz-m);
    font-weight: 500;
}

.review__modal__buttons-container {
    display: flex;
    gap: 1rem;
}

.review__modal__button {
    cursor: pointer;
    width: 7rem;
    background-color: var(--color-light);
    border: 1px solid var(--color-gray-light);
    border-radius: var(--border-rad);
    padding: 0.4rem;
    font-size: var(--font-sz-xm);
    box-shadow: var(--box-shadow);
    font-weight: 500;
    color: var(--color-gray-dark);
}

.rmb--delete {
    background-color: var(--color-secondary);
    color: var(--color-light);
    border: none;
}

.review__rating {
    display: flex;
    gap: 0.2rem;
}

.review__rating__star {
    color: var(--color-gray);
    font-size: var(--font-sz-2xl);
    fill: var(--color-gray-light);
}

.rrs--gold {
    color: var(--color-golden);
    fill: var(--color-golden);
}

.review__content-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.review__content__book {
    font-size: var(--font-sz-xm);
    color: var(--color-gray);
}   

.review__content__book-title {
    font-size: var(--font-sz-xm);
    color: var(--color-dark);
    font-family: var(--font-fm-serif);
    font-weight: 600;
}

.review__content {
    line-height: 1.625;
}

.review__section-comments {
    position: relative;
    padding-top: 1.5rem;
}

.review__section-comments::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 3rem);
  height: 1px;
  background-color: rgb(223, 223, 223);
}

.comments__button {
    display: flex;
    gap: 0.5rem;
    border: none;
    background: none;
    align-items: center;
    padding: 0.2rem;
    cursor: pointer;
}

.comments__button__icon {
    color: var(--color-gray-dark);
    font-size: var(--font-sz-xl);
}

.comments__button__span {
    font-size: var(--font-sz-xm);
    color: var(--color-gray-dark);
}

.review__edit__form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.review__edit__form__label {
    font-size: var(--font-sz-s);
    font-weight: 500;
    color: var(--color-gray-dark);
}

.review__edit__form__input {
    min-height: 8rem;
    border-radius: var(--border-rad);
    border: 1px solid var(--color-gray-light);
    padding: 0.5rem;
}
.review__edit__form__input:focus {
    outline: none;
    border-color: var(--color-secondary-light);
}

.review__edit__form__input::placeholder {
    font-size: var(--font-sz-s);
    color: var(--color-gray);
}

.review__edit__form__buttons-container {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

.review__edit__form__button {
    width: 30%;
    padding: 0.5rem;
    border-radius: var(--border-rad-l);
    border: 1px solid var(--color-gray-light);
    background: none;
    font-weight: 500;
    color: var(--color-gray-dark);
    box-shadow: var(--box-shadow);
}

.ref--submit {
    width: 20%;
    background-color: var(--color-secondary);
    color: var(--color-light);
}

.ref--submit:disabled {
    background-color: var(--color-secondary-light);
    color: var(--color-light);
}

@media (max-width: 480px) {
    .review__user__container {
        align-items: center;
        flex-direction: column;
    }

    .review__header {
        flex-direction: column;
        gap: 1rem;
    }

    .review__section-comments {
        padding-bottom: 2rem;
    }

    .review__modal__buttons-container {
        width: 10rem;
    }

    .review__modal__title {
        font-size: var(--font-sz-m);
    }

    .review__modal__text {
        font-size: var(--font-sz-s);
        text-align: center;
    }

    .review__modal__button {
        padding: 0.2rem;
        font-size: var(--font-sz-s);
    }

    .review__edit__form__button {
        flex: 1;
    }
}