.community-screen {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.community__header {
    display: flex;
    flex-direction: column;
}

.community__header__title-container {
    display: flex;
    gap: 1rem;
}

.community__header__icon {
    font-size: var(--font-sz-3xl);
    color: var(--color-secondary);
}

.community__header__title {
    font-size: var(--font-sz-3xl);
    font-family: var(--font-fm-serif);
    color: var(--color-secondary);
}

.community__header__text {
    color: var(--color-gray-dark);
    font-size: var(--font-sz-l);
}

.community__form {
    position: relative;
    align-self: center;
    width: 80%;
    position: relative;
}

.community__form__input {
    padding: 0.8rem 3rem;
    border-radius: var(--border-rad);
    border: 1px solid var(--color-gray-light);
    font-size: var(--font-sz-l);
    width: 100%;
}

.community__form__input::placeholder {
    font-size: var(--font-sz-l);
    color: var(--color-gray-light);
}

.community__form__input:focus {
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
    outline: none;
}

.community__form__button {
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: calc(50% - 1.3rem);
    left: 0.1rem;
}

.community__form__icon-button {
    color: var(--color-gray-light);
    font-size: var(--font-sz-l);
}

.community__form__input:focus::placeholder {
    color: var(--color-secondary);
}

.community__form:focus-within .community__form__icon-button {
    color: var(--color-secondary);
}

.comunnity__users-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.comunnity__message-fail-search {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    gap: 0.5rem;
}

.comunnity__message__icon {
    width: 4rem;
    height: 4rem;
    color: var(--color-gray);
}

.comunnity__message__sub-title {
    font-size: var(--font-sz-l);
    font-family: var(--font-fm-serif);
    color: var(--color-gray);
}

.comunnity__message__span {
    font-size: var(--font-sz-l);
    color: var(--color-gray-light);
}

.comunnity__pagination {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.comunnity__pagination__button {
    cursor: pointer;
    border: 1px solid var(--color-secondary);
    border-radius: var(--border-rad);
    padding: 0.2rem;
    background: none;
    font-size: var(--font-sz-m);
    font-weight: 600;
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}


.comunnity__pagination__button:disabled {
    color: var(--color-gray);
    border: 1px solid var(--color-gray);
}

.comunnity__pagination__span {
    font-weight: 600;
}