.user-profile__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user-profile__user {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    border-radius: var(--border-rad-l);
    background-color: var(--color-secondary);
    align-items: center;
    box-shadow: var(--box-shadow-strong);
    position: relative;
}

.user-profile__add-friend {
    background: none;
    z-index: 10;
    position: absolute;
    right: 1rem;
    top: 1rem;
    border: none;
    cursor: pointer;
}

.user-profile__add-friend__icon {
    color: var(--color-light);
    font-size: var(--font-sz-xl);
}

.user-profile__user__image-container {
    max-width: 5rem;
    min-width: 5rem;
    max-height: 5rem;
    min-height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    background-color: var(--color-secondary-light);
}

.user-profile__user__info {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 70%;
}

.user-profile__user__name {
    font-size: var(--font-sz-2xl);
    font-family: var(--font-fm-serif);
    color: var(--color-light);
}

.user-profile__user__email {
    font-size: var(--font-sz-m);
    color: var(--color-gray-light);
}

.user-profile__user__stats-container {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}

.user-profile__stats {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.user-profile__stats__icon {
    color: var(--color-light);
    font-size: var(--font-sz-xm);
}

.user-profile__stats__span {
    text-align: center;
    color: var(--color-light);
    font-weight: 500;
    font-size: var(--font-sz-m);
}

.user-profile__links-container {
    display: flex;
    width: 100%;
    padding: 0.5rem 0.3rem;
    gap: 0.2rem;
    border-radius: var(--border-rad-l);
    border: 1px solid var(--color-gray-light);
    box-shadow: var(--box-shadow);
}

.user-profile__link {
    text-decoration: none;
    padding: 0.4rem;
    flex: 1;
    text-align: center;
    border-radius: var(--border-rad);
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.user-profile__link__icon {
    color: var(--color-gray);
    font-size: var(--font-sz-l);
}

.user-profile__link__span {
    color: var(--color-gray);
    font-weight: 500;
    font-size: var(--font-sz-xm);
}

.upl--active {
    background-color: var(--color-secondary);
}

.upl--active .user-profile__link__span, .upl--active .user-profile__link__icon{
    color: var(--color-light);
}