.user-profile__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user-profile__user {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    border-radius: var(--border-rad-l);
    background-color: var(--color-secondary);
    align-items: center;
    box-shadow: var(--box-shadow-strong);
    position: relative;
}

.user-profile__user__image-container {
    display: flex;
    justify-content: center;
    max-width: 5rem;
    min-width: 5rem;
    max-height: 5rem;
    min-height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    background-color: var(--color-secondary-light);
}

.user-profile__user__info {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 70%;
}

.user-profile__user__name {
    font-size: var(--font-sz-2xl);
    font-family: var(--font-fm-serif);
    color: var(--color-light);
}

.user-profile__user__email {
    font-size: var(--font-sz-m);
    color: var(--color-gray-light);
}

.user-profile__user__stats-container {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}

.user-profile__stats {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.user-profile__stats__icon {
    color: var(--color-light);
    font-size: var(--font-sz-xm);
}

.user-profile__stats__span {
    text-align: center;
    color: var(--color-light);
    font-weight: 500;
    font-size: var(--font-sz-m);
}

.user-profile__links-container {
    display: flex;
    width: 100%;
    padding: 0.5rem 0.3rem;
    gap: 0.2rem;
    border-radius: var(--border-rad-l);
    border: 1px solid var(--color-gray-light);
    box-shadow: var(--box-shadow);
}

.user-profile__link {
    text-decoration: none;
    padding: 0.4rem;
    flex: 1;
    text-align: center;
    border-radius: var(--border-rad);
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.user-profile__link__icon {
    color: var(--color-gray);
    font-size: var(--font-sz-l);
}

.user-profile__link__span {
    color: var(--color-gray);
    font-weight: 500;
    font-size: var(--font-sz-xm);
}

.upl--active {
    background-color: var(--color-secondary);
}

.upl--active .user-profile__link__span, .upl--active .user-profile__link__icon{
    color: var(--color-light);
}

@media (min-width: 1440px) {
    .user-profile__user {
        padding: 4rem;
        gap: 5rem;
    }
    
    .user-profile__user__image-container {
        max-width: 7rem;
        min-width: 7rem;
        max-height: 7rem;
        min-height: 7rem;
    }
    
    .user-profile__user__info {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        width: 70%;
    }
    
    .user-profile__user__name {
        font-size: var(--font-sz-3xl);
    }

    .user-profile__user__email {
        font-size: var(--font-sz-l);
    }
    
    .user-profile__stats__icon {
        font-size: var(--font-sz-xl);
    }
    
    .user-profile__stats__span {
        font-size: var(--font-sz-l);
    }

    .user-profile__links-container {
        padding: 1rem 0.8rem;
        gap: 0.4rem;
    }

    .user-profile__link {
        padding: 0.8rem;
    }

    .user-profile__link__icon {
        font-size: var(--font-sz-xl);
    }

    .user-profile__link__span {
        font-size: var(--font-sz-l);
    }
}

@media (max-width: 1024px) {
    .user-profile__stats {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .user-profile__user {
        flex-direction: column;
    }

    .user-profile__user__image-container {
        max-width: 6rem;
        min-width: 6rem;
        max-height: 6rem;
        min-height: 6rem;
    }

    .user-profile__user__info {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .user-profile__user__stats-container {
        flex-direction: column;
        gap: 0.8rem;
    }

    .user-profile__stats {
        flex-direction: row;
        gap: 1rem;
    }

    .user-profile__stats__icon {
        font-size: var(--font-sz-xl);
    }

    .user-profile__stats__span {
        font-size: var(--font-sz-xm);
    }

    .user-profile__links-container {
        flex-direction: column;
    }

    .user-profile__link__icon {
        font-size: var(--font-sz-xl);
    }

    .user-profile__link__span {
        font-size: var(--font-sz-l);
    }
}