.side-bar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 16rem;
    height: 100vh;
    position: relative;
    padding: 1.5rem;
    border-right: 1px solid var(--color-gray-light);
    background-color: var(--color-light);
}

.side-bar__header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    line-height: 1.5rem;
}

.side-bar__icon {
    background-color: var(--color-primary);
    width: 3rem;
    height: 3rem;
    padding: 0.4rem;
    border-radius: var(--border-rad);
    color: var(--color-light);
    box-shadow: var(--box-shadow);
}

.side-bar__title {
    color: var(--color-primary);
    font-family: var(--font-fm-serif);
    font-size: var(--font-sz-2xl);
}

.side-bar__header__button {
    cursor: pointer;
    background-color: var(--color-light);
    border: none;
    display: none;
    scale: 1.4;
}

.side-bar__span {
    color: var(--color-gray);
    font-size: var(--font-sz-l);
}

.side-bar__links-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    cursor: pointer;
}


.side-bar__links-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 16rem;
    height: 1px;
    background-color: var(--color-gray-light);
}

.side-bar__icon-link-container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;
    width: 13rem;
    padding: 0.4rem 0.8rem;
    border-radius: var(--border-rad);
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.side-bar__icon-link-container:hover {
    background-color: rgba(104, 104, 104, 0.1);
}

.sbi--active {
    background-color: var(--color-primary);
    color: var(--color-light);
}

.sbi--active .side-bar__link, .sbi--active .side-bar__link-icon {
    color: var(--color-light);
}

.sbi--active:hover {
    background-color: var(--color-primary-light);
}

.side-bar__link {
    font-size: var(--font-sz-l);
    font-weight: 500;
    color: var(--color-gray);
}

.side-bar__link-icon {
    font-size: var(--font-sz-xl);
    font-weight: 500;
    color: var(--color-gray);
}

.side-bar__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 16rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.side-bar__user-info {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    cursor: pointer;
    overflow: hidden;
}

.side-bar__user__image {
    min-width: 2.5rem;
    max-width: 2.5rem;
    min-height: 2.5rem;
    max-height: 2.5rem;
    font-size: var(--font-sz-xs);
    overflow: hidden;
    box-shadow: var(--box-shadow);
    border-radius: 50%;
}

.side-bar__user-text {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.side-bar__user__name {
    font-size: var(--font-sz-x);
    font-weight: bold;
}

.side-bar__user__email {
    font-size: var(--font-sz-xs);
    color: var(--color-gray);
}

.side-bar__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: var(--color-gray);
    font-size: var(--font-sz-x);
    width: 7.5rem;
}

.side-bar__button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 16rem;
    height: 1px;
    background-color: var(--color-gray-light);
}

.side-bar__button-icon {
    font-size: var(--font-sz-s);
    text-align: center;
    margin-right: 0.3rem;
}

@media (min-width: 1440px) {
    .side-bar {
        width: 20rem;
    }

    .side-bar__links-container::before {
        width: 20rem;
    }

    .side-bar__button::before {
        transform: translateX(-40%);
        width: 20rem;
    }
}

@media (max-width: 768px) {
    .side-bar {
        width: 100vw;
        height: 100vh;
    }

    .side-bar__header {
        width: 100%;
        gap: 1.5rem;
        justify-content: center;
        line-height: 2.5rem;
        padding: 0;
        height: 15%;
        align-items: center;
        position: relative;
    }

    .side-bar__icon {
        width: 4rem;
        height: 4rem;
        padding: 0.4rem;
        border-radius: var(--border-rad-l);
    }

    .side-bar__title {
        font-size: var(--font-sz-3xl);
    }

    .side-bar__header__button {
        display: block;
        position: absolute;
        right: 2rem;
        top: calc(50% - 1rem);
    }
    
    .side-bar__header__icon {
        min-width: 1.5rem;
        max-width: 1.5rem;
        min-height: 1.5rem;
        max-height: 1.5rem;
        color: var(--color-gray);
    }

    .side-bar__span {
        font-size: var(--font-sz-xl);
    }

    .side-bar__links-container {
        gap: 1rem;
        align-self: center;
        justify-content: center;
    }

    .side-bar__links-container::before {
        width: 100vw;
    }
    
    .side-bar__icon-link-container {
        gap: 1rem;
        width: 100%;
        padding: 1rem 3rem;
        border-radius: var(--border-rad-l);
    }

    .side-bar__link {
        font-size: var(--font-sz-l);
    }

    .side-bar__link-icon {
        font-size: var(--font-sz-xl);
        font-weight: 500;
        color: var(--color-gray);
    }

    .side-bar__footer {
        width: 100%;
        padding: 3rem 4rem;
        gap: 2rem;
        align-items: center;
    }

    .side-bar__user-info {
        gap: 2rem;
    }

    .side-bar__user__image {
        min-width: 3rem;
        max-width: 3rem;
        min-height: 3rem;
        max-height: 3rem;
        font-size: var(--font-sz-s);
    }

    .side-bar__user-text {
        gap: 1rem;
    }

    .side-bar__user__name {
        font-size: var(--font-sz-xl);
    }

    .side-bar__user__email {
        font-size: var(--font-sz-xm);
    }

    .side-bar__button {
        font-size: var(--font-sz-l);
        width: 100%;
        justify-content: center;
    }

    .side-bar__button::before {
        width: 100vw;
    }

    .side-bar__button-icon {
        font-size: var(--font-sz-xl);
        margin-right: 1rem;
    }
}

@media (max-width: 440px) {
    .side-bar__header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 25%;
        gap: 0.5rem;
    }

    .side-bar__header__button {
        right: 0rem;
    }

    .side-bar__links-container {
        gap: 0.5rem;
    }

    .side-bar__link {
        font-size: var(--font-sz-m);
        padding: 0rem;
    }

    .side-bar__link-icon {
        font-size: var(--font-sz-xm);
    }

    .side-bar__footer {
        padding-top: 1.5rem;
    }

    .side-bar__user-info {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .side-bar__user-text {
        gap: 0.2rem;
    }

    .side-bar__user__name {
        text-align: center;
        font-size: var(--font-sz-xl);
    }

    .side-bar__user__email {
        text-align: center;
    }
}